@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

main,
header {
  font-family: "Montserrat", Helvetica, sans-serif
}

main {
  background: url('/background.jpg');
  background-size: cover;
}

.nav-link {
  text-decoration: underline 4px rgba(255,255,255,0);
  text-underline-offset: 0;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;

  &:hover {
    text-decoration-color: rgba(79, 70, 229,1);
    text-underline-offset: 8px;
  }

  &.active {
    text-decoration-color: rgba(79, 70, 229,1);
    text-underline-offset: 8px;
  }
}

.tech-card {
  background: linear-gradient(to bottom right, rgba(82,82,91,1) 0%, rgba(63,63,70,1) 100%);
  transition: all 500ms ease-out;
}

.post-overview {
  h3 {
    word-break: break-word;
  }
}

.blog-post {
  h2 {
    word-break: break-word;
  }

  .post-summary {
    font-family: 'Noto Serif';
  }
}

.blog-post_content {
  * {
    word-break: break-word;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 64px;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 64px;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.8;
    font-size: 1.1rem;
    white-space: pre-wrap;
    font-family: 'Noto Serif';
  }

  a {
    color: #4F46E5;

    &:hover,
    &:active {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }

  ul {
    list-style: disc outside;
    padding-left: 40px;
  }

  ol {
    list-style: decimal outside;
    padding-left: 40px;
  }

  code {
    background-color: hwb(0 42% 58% / 0.75);
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
  }
}